
entrypoint = "main.py"
modules = ["nodejs-20", "python-3.10"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["python", "main.py"]
deploymentTarget = "gce"
ignorePorts = true
deploymentType = "vm"

[[ports]]
localPort = 3000
externalPort = 80
