/* Style du corps de la page */
body {
    font-family: Arial, sans-serif;
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    color: white;
}

/* Bannière */
#banner {
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5em;
    background-image: url('/static/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

/* Centrer le contenu sous la bannière */
h2 {
    margin-top: 20px;
}

/* Style du menu déroulant */
select {
    font-size: 16px;
    padding: 8px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #2f3136; /* Couleur sombre pour le menu, comme Discord */
    color: white; /* Texte blanc dans le menu */
    border: 1px solid #7289da; /* Bordure bleue pour le menu */
}

/* Style du tableau */
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #2f3136; /* Fond sombre pour le tableau */
    max-width: 1000px;
    border-radius: 5px; /* Coins arrondis pour le tableau */
    border: 1px solid #7289da; /* Bordure bleue */
    color: white; /* Texte blanc */
    overflow: hidden; /* Assure que les coins arrondis fonctionnent */
}

/* En-têtes de tableau */
th {
    background-color: #23272a; /* Couleur légèrement plus sombre pour l'en-tête */
    color: #7289da; /* Texte en bleu pour l'en-tête */
    padding: 10px;
    text-align: left;
}

/* Cellules de tableau */
td {
    padding: 10px;
    border: 1px solid #7289da; /* Bordure bleue pour les cellules */
}

/* Alternance des lignes */
tr:nth-child(even) {
    background-color: #3a3f47; /* Fond plus clair pour les lignes paires */
}

tr:hover {
    background-color: #434b52; /* Surbrillance au survol */
    cursor: pointer; /* Change le curseur au survol */
    transition: background-color 0.3s ease; /* Animation fluide */
}

/* Media Queries pour la réactivité */
@media (max-width: 768px) {
    #banner {
        height: 150px;
        font-size: 1.8em;
    }

    table {
        font-size: 14px;
    }

    select {
        width: 90%;
    }
}

@media (max-width: 480px) {
    #banner {
        height: 120px;
        font-size: 1.5em;
    }

    table {
        width: 100%;
        font-size: 12px;
    }

    select {
        width: 100%;
    }
}
