/* Style du corps de la page */
body {
    font-family: Arial, sans-serif;
    background-image: url('/static/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    color: white;
}

/* Bannière */
#banner {
    color: white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5em;
    background-image: url('/static/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px 0;
}

/* Centrer le contenu sous la bannière */
h2 {
    margin-top: 10px;
}

/* Style du menu déroulant */
select {
    font-size: 16px;
    padding: 8px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #1c3f34; /* Vert foncé */
    color: white; /* Texte blanc */
    border: 1px solid #68d391; /* Bordure verte claire */
}

/* Style du tableau */
table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1a202c; /* Bleu marine */
    max-width: 1000px;
    border-radius: 5px; /* Coins arrondis pour le tableau */
    border: 1px solid #4299e1; /* Bordure bleue ciel */
    color: white; /* Texte blanc */
    overflow: hidden; /* Assure que les coins arrondis fonctionnent */
}

/* En-têtes de tableau */
th {
    background-color: #2b6cb0; /* Bleu profond */
    color: white; /* Texte blanc */
    padding: 10px;
    text-align: left;
}

/* Cellules de tableau */
td {
    padding: 10px;
    border: 1px solid #4299e1; /* Bordure bleue ciel */
}

/* Alternance des lignes */
tr:nth-child(even) {
    background-color: #3b6978; /* Bleu-gris harmonieux */
}

tr:nth-child(odd) {
    background-color: #4a90e2; /* Bleu clair cohérent */
}

tr:hover {
    background-color: #48bb78; /* Vert vif */
    cursor: pointer; /* Change le curseur au survol */
    transition: background-color 0.3s ease; /* Animation fluide */
}

/* Media Queries pour la réactivité */
@media (max-width: 768px) {
    #banner {
        height: 150px;
        font-size: 1.8em;
    }

    table {
        font-size: 14px;
    }

    select {
        width: 90%;
    }
}

@media (max-width: 480px) {
    #banner {
        height: 120px;
        font-size: 1.5em;
    }

    table {
        width: 100%;
        font-size: 12px;
    }

    select {
        width: 100%;
    }
}
